<?xml version="1.0" ?>
<robot name="zmc robot" xmlns:xacro="http://ros.org/wiki/xacro">
   <link name="base_link">
      <visual>
        <geometry>
          <box size="0.20 0.15 0.01"/>
        </geometry>
        <origin rpy="0 0 0" xyz="0.03 0 0"/>
        <material name="white">
          <color rgba="1 1 1 1"/>
        </material>
      </visual>

       <visual>  <!-- top board -->
        <geometry>
          <box size="0.20 0.15 0.01"/>
        </geometry>
        <origin rpy="0 0 0" xyz="0.03 0  0.06"/>
        <material name="white"/>
      </visual>

      <visual>   <!-- battery -->
        <geometry>
          <box size="0.06 0.08 0.02"/>
        </geometry>
        <origin rpy="0 0 0" xyz="-0.03 0  0.012"/>
        <material name="cyan">
	    <color rgba="0.1 0.8 0 1"/>
        </material>
      </visual>

        <visual>   <!-- mcu -->
        <geometry>
          <box size="0.057 0.07 0.012"/>
        </geometry>
        <origin rpy="0 0 0" xyz="0.05 0  0.012"/>
        <material name="white"/>
         </visual>

          <visual>  <!-- top battery -->
        <geometry>
          <box size="0.06 0.08 0.012"/>
        </geometry>
        <origin rpy="0 0 0" xyz="0.05 0  0.08"/>
        <material name="cyan"/>
        </visual>

         <visual>  <!--  top_left -->
        <geometry>
          <cylinder length="0.075" radius="0.002"/>
        </geometry>
        <origin rpy="0 0 1.57" xyz="0.125 0.07 0.03"/>
          <material name="white"/>
      </visual>
  
      <visual>  <!--  top_right -->
        <geometry>
          <cylinder length="0.075" radius="0.002"/>
        </geometry>
        <origin rpy="0 0 1.57" xyz="-0.065 0.07 0.03"/>
          <material name="white"/>
      </visual>

      <visual>  <!-- bottom_left  -->
        <geometry>
          <cylinder length="0.075" radius="0.002"/>
        </geometry>
        <origin rpy="0 0 1.57" xyz="-0.065 -0.07 0.03"/>
          <material name="white"/>
      </visual>
      <visual>  <!--bottom_right  -->
        <geometry>
          <cylinder length="0.075" radius="0.002"/>
        </geometry>
        <origin rpy="0 0 1.57" xyz="0.125 -0.07 0.03"/>
          <material name="white"/>
      </visual>


      <visual> <!-- wheel_track -->
        <geometry>
          <box size="0.03 0.03 0.055"/>
        </geometry>
        <origin rpy="0 0 0" xyz="0.1 0 -0.016"/>
        <material name="white"/>
      </visual>

      <visual>  <!--kinect -->
        <geometry>
          <box size="0.03 0.16 0.02"/>
        </geometry>
        <origin rpy="0 0 0" xyz="-0.03 0 0.08"/>
        <material name="black"/>
      </visual>

      <visual> <!--  left_motor -->
        <geometry>
          <cylinder length="0.05" radius="0.018"/>
        </geometry>
        <origin rpy="1.57 0 0" xyz="-0.0 0.03 -0.0325"/>
        <material name="white"/>
      </visual>

      <visual> <!-- right_motor  -->
        <geometry>
          <cylinder length="0.05" radius="0.018"/>
        </geometry>
        <origin rpy="1.57 0 0" xyz="-0.0 -0.03 -0.0325"/>
          <material name="white"/>
      </visual>

      <visual> <!--  wheel_third -->
        <geometry>
          <cylinder length="0.02" radius="0.0225"/>
        </geometry>
        <origin rpy="1.57 0 0" xyz="0.10 0 -0.0425"/>
          <material name="brawn">
		<color rgba="0.8 0.3 0 1"/>
	  </material>
	</visual>
   </link>

    <link name="wheel_left">
      <visual>
        <geometry>
          <cylinder length="0.027" radius="0.0325"/>
        </geometry>
        <origin rpy="1.57 0 0" xyz="0.0 0.07 -0.0325"/>
        <material name="black">
          <color rgba="0 0 0 1"/>
        </material>
      </visual>
    </link>

    <link name="wheel_right">
      <visual>
        <geometry>
          <cylinder length="0.027" radius="0.0325"/>
        </geometry>
        <origin rpy="1.57 0 0" xyz="0.0 -0.07 -0.0325"/>
          <material name="black"/>
      </visual>
    </link>

    <joint name="base_to_wheel_left" type="fixed">
      <parent link="base_link"/>
      <child link="wheel_left"/>
      <origin xyz="0 0 0"/>
    </joint>


    <joint name="base_to_wheel_right" type="fixed">
      <parent link="base_link"/>
      <child link="wheel_right"/>
      <origin xyz="0 0 0"/>
    </joint>



</robot>

