<launch>
   <!-- include file="$(find zmcrobot_ros)/launch/astra_laser.launch"/ --> 
	 <node pkg="tf" type="static_transform_publisher" name="odom_link_to_map" 
			    args="0.0 0 0.0 0 0 0 /odom /map 100" />
          
  <include file="$(find zmcrobot_ros)/param/navigation/xtion_gmapping.xml"/> 
</launch>
