   
<launch>
  <master auto="start"/>
  <include file="$(find zmcrobot_ros)/launch/urdf.launch" />

 <node pkg="tf" type="static_transform_publisher" name="map_to_odom" args="0.0 0.0 0.0 0 0 0.0 /map /odom 1000"/>
  <!-- node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find zmcrobot_ros)/param/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find zmcrobot_ros)/param/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find zmcrobot_ros)/param/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find zmcrobot_ros)/param/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find zmcrobot_ros)/param/base_local_planner_params.yaml" command="load" />
  </node -->

    <node name="base_controller_node" pkg="zmcrobot_ros" type="zmcrobot_ros" output="screen">
            <!-- param name="port" value="/dev/ttyACM0" / -->
            <param name="port" value="/dev/ttyUSB0" />
            <param name="baud" value="115200" />
            <param name="timeout" value="500000" />
            <param name="simulate" value= "true" />
            <param name="use_imu" value="true"/>
            <param name="alpha"  value="0.6" />
            <param name="calib_file" value="$(find zmcrobot_ros)/param/imu/imu_calib.yaml"/>

    </node>

    <!-- Filter and fuse raw imu data -->
    <node pkg="imu_filter_madgwick" type="imu_filter_node" name="imu_filter_madgwick" output="screen" respawn="false" >
        <param name="fixed_frame" value="base_link" />
        <param name="use_mag" value="true" />
        <param name="publish_tf" value="true" />
        <param name="use_magnetic_field_msg" value="true" />
        <param name="world_frame" value="enu" />
        <param name="orientation_stddev" value="0.0" />
       </node>

 <!-- Publish static transform from imu_link  to base_link -->
    <node pkg="tf" type="static_transform_publisher" name="base_link_to_imu_link" args="0 0 0 0 0 0  base_link  imu_link  100"/>


    <!-- Publish static transform from base_footprint to base_link -->
    <!-- node pkg="tf" type="static_transform_publisher" name="base_footprint_to_base_link" args="0 0 0 0 0 0  base_footprint   base_link 100"/ -->



    <!-- Odom-IMU Extended Kalman Filter-->
    <node pkg="robot_localization" type="ekf_localization_node" name="ekf_localization"> 
        <remap from="odometry/filtered" to="odom" />
        <rosparam command="load" file="$(find zmcrobot_ros)/param/ekf/robot_localization.yaml" /> 
    </node>




</launch>
