
<launch>
  <!-- master auto="start"/>
  <include file="$(find zmcrobot_ros)/launch/urdf.launch" / -->
 <!-- Publish static transform from imu_link  to base_link -->
    <!-- node pkg="tf" type="static_transform_publisher" name="imu_link_to_base_link" args="0 0 0 0 0 0  /base_link   /imu_link  100"/ -->
	<arg name="publish_tf" default="false"/>
 

    <!-- Filter and fuse raw imu data -->
    <node pkg="imu_filter_madgwick" type="imu_filter_node" name="imu_filter_madgwick" output="screen" respawn="false" >
        <param name="fixed_frame" value="base_link" />
        <param name="use_mag" value="false" />
        <param name="publish_tf" value="true" />
        <param name="use_magnetic_field_msg" value="false" />
        <param name="world_frame" value="enu" />
        <param name="orientation_stddev" value="0.0" />
    </node>
    
    
        <!-- Odom-IMU Extended Kalman Filter -->
    <node pkg="robot_localization" type="ekf_localization_node" name="ekf_localization"> 
        <remap from="odometry/filtered" to="odom" />
        <rosparam command="load" file="$(find zmcrobot_ros)/param/ekf/robot_localization.yaml" /> 
        <param name="publish_tf" value= "$(arg publish_tf)" />
    </node>

</launch>
